    <% include layout %>
    <% include PageTitle %>
    by test2 again
    by test2 again 2
    by test2 again 3
    <div class="container">

        <div class="panel-body">

            <div class="container"
                 data-ng-app="CategoryModule"
                 data-ng-controller="editCategoryCtrl">

                 <% include validationSummary %>    <!-- validation errors temp -->                
                 <% include message %>              <!-- send message temp -->

                <form class="navbar-form navbar-left" role="search"
                      method="POST" name="formCategory">

                    <!-- product name -->
                    <div class="row">   
                        <div class="form-group">
                            <label for="">Product Category Name</label>                             
                            <input type="text" class="form-control" placeholder="Enter Product Category" name="Category" id="Category" data-ng-model="Category.categoryName"
                                   style="width:100%" required />               
                        </div>
                    </div>
                     &nbsp; &nbsp;

                    <!-- product details -->
                    <div class="row">   
                        <div class="form-group">
                            <label for="productDetails">Product Category Details</label>
                            <textarea class="form-control" placeholder="Product Category Details" name="productDetails" id="productDetails" rows="5" cols="30" data-ng-model="Category.categoryDetails"
                                   style="width:100%" required></textarea>
                        </div>
                    </div>

                    <div>&nbsp;</div>

                    <!-- submit button -->
                    <div class="row">   
                        <div class="form-group" style="padding-left:40%">
                            <button type="button" class="btn btn-primary" data-ng-click="editCategory(Category)">Edit Product Category</button>
                        </div>                       
                    </div>

                </form>            
             </div>
           </div>
        </div>

        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../../javascripts/app/Category/CategoryModule.js"></script>
        <script src="../../javascripts/app/Category/CategoryService.js"></script>
        <script src="../../javascripts/app/Category/editCategoryCtrl.js"></script>
        <script src="../../javascripts/app/ValidationService.js"></script>














