<!DOCTYPE html>
by test222
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="../../stylesheets/bootstrap.min.css" rel="stylesheet" />       
    <script src="../../javascripts/jquery-1.10.2.min.js"></script>
    <script src="../../javascripts/bootstrap.min.js"></script>
    <script src="../../javascripts/jquery.validate.min.js"></script>      

</head>
<body>
  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/viewProduct">View Product</a></li>
            <li><a href="/createProduct">Create Product</a></li>    
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product Catetory<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/createProductCategory">Create Product Category</a></li>
            <li><a href="/viewProductCategory">View Product Category</a></li>            
          </ul>
        </li>      

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
               <ul class="dropdown-menu">
                    <li><a href="/searchProduct">Search Product</a></li>
                    <li><a href="/searchProductCategory">Search Product Category</a></li>         
               </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- the input form for searching  -->
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter A Keyword" />
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
               <ul class="dropdown-menu">
                    <li><a href="/searchProduct">Search Product</a></li>
                    <li><a href="/searchProductCategory">Search Product Category</a></li>         
               </ul>
               
          <!-- Product Category dropdown list -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product Catetory<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/createProductCategory">Create Product Category</a></li>
            <li><a href="/viewProductCategory">View Product Category</a></li>
          </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  

</body>
</html>
